/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.vertical-flex {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eqi-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
