<div style="text-align:center">
  <h1>Welcome to Colonizers</h1>
  <p>Please select the players you wish to have in the game:</p>

  <div *ngFor="let i of [1,2,3,4]" style="margin:.5em">
    <h4 class="inline-margin"><span class="badge badge-secondary">Player {{ i }}:</span></h4>
    <app-scripts class="inline-margin" [scripts]="scripts" (selection)="onPlayerSelect($event, i)"></app-scripts>
  </div>

  <hr />

  <div>
    <div>You can choose whether to enable hiding information. Leaving it disabled can be useful when testing AI.</div>
    <span class="badge badge-secondary" style="position:relative;left:-40px">Hide information: </span><input type="checkbox" class="form-check-input" (click)="toggleHidden()">
  </div>

  <hr />

  <p>You may also add new AI scripts or folders to the game:</p>
  <div>
    <button type="button" class="btn btn-primary add-btn" (click)="addAIScript()">Add AI script</button>
    <button type="button" class="btn btn-primary add-btn" (click)="addAIFolder()">Add AI folder</button>
  </div>
  <p>
    A copy of the AI files you select will be stored in the game's installation folder.
    This copy will then be available as an in-game option for AI players.
    Please refer to the documentation to find out how to properly add AI players to the game.
    In order for the AI to be recognized by the game, it must fulfill certain criteria
    specified in the documentation.
  </p>

  <hr />

  <div>
    <p>You can modify the path to the Python executable used to execute the game's AI scritps.</p>
    <p>The currently used path is: <code>{{ pythonExecutable }}</code></p>
    <button type="button" class="btn btn-secondary add-btn" (click)="selectPythonExecutable()">
      Select Python executable
    </button>
  </div>

  <hr />

  <div *ngIf="!pythonExecutable">
    <p class="text-danger">You have not selected a Python executable. You may not start a game until you do so.</p>
  </div>
  <button type="button" class="btn btn-danger start-btn"
          [disabled]="!pythonExecutable" (click)="startGame()">
    START GAME
  </button>
</div>
