<div>
  <p *ngIf="!gameState"><em>Loading...</em></p>

  <div *ngIf="gameState?.gameOver">
    <app-game-end [gameEndInfo]="gameState?.gameEndInfo" [playerNames]="playerNames"></app-game-end>
  </div>

  <div *ngIf="gameState">
    <div class="player-top-left">
      <app-player [player]="gameState.boardState.players[0]" [isLoading$]="playerLoadingObs[0]"
                  [gameState]="gameState" (onBuild)="onHumanPlayerAction($event)" [playerName]="playerNames[0]"
                  [hideInformation]="gameService.hideInformation"></app-player>
    </div>
    <div class="player-top-right">
      <app-player [player]="gameState.boardState.players[1]" [isLoading$]="playerLoadingObs[1]"
                  [gameState]="gameState" (onBuild)="onHumanPlayerAction($event)"  [playerName]="playerNames[1]"
                  [hideInformation]="gameService.hideInformation"></app-player>
    </div>

    <div class="vertical-center board-left">
      <app-board [boardState]="gameState.boardState"></app-board>
    </div>

    <div *ngIf="isWaitingForHumanPlayer && isColonistPickPhase()">
      <app-colonist-pick [gameState]="gameState" (onPick)="onHumanPlayerAction($event)"></app-colonist-pick>
    </div>

    <div *ngIf="isWaitingForHumanPlayer && isDrawPhase()">
      <app-draw [gameState]="gameState" (onPick)="onHumanPlayerAction($event)"></app-draw>
    </div>

    <div *ngIf="isWaitingForHumanPlayer && isDiscardPhase()">
      <app-discard [gameState]="gameState" (onPick)="onHumanPlayerAction($event)"></app-discard>
    </div>

    <div *ngIf="isWaitingForHumanPlayer && isPowerPhase()">
      <app-power [gameState]="gameState" (onPick)="onHumanPlayerAction($event)"></app-power>
    </div>

    <div *ngIf="isWaitingForHumanPlayer && isBuildPhase()">
      <div class="centered-global">
        <button type="button" class="btn btn-primary" (click)="buildNothing()">Build nothing</button>
      </div>
    </div>

    <div class="vertical-center board-right">
      <button type="button" class="btn btn-primary game-btn" (click)="processTurn()" [disabled]="isGameRunning">Start Game</button>
      <button type="button" class="btn btn-danger game-btn" (click)="abandonGame()">Abandon Game</button>
    </div>

    <div class="player-bottom-left">
      <app-player [player]="gameState.boardState.players[2]" [isLoading$]="playerLoadingObs[2]"
                  [gameState]="gameState" (onBuild)="onHumanPlayerAction($event)" [playerName]="playerNames[2]"
                  [hideInformation]="gameService.hideInformation"></app-player>
    </div>
    <div class="player-bottom-right">
      <app-player [player]="gameState.boardState.players[3]" [isLoading$]="playerLoadingObs[3]"
                  [gameState]="gameState" (onBuild)="onHumanPlayerAction($event)" [playerName]="playerNames[3]"
                  [hideInformation]="gameService.hideInformation"></app-player>
    </div>
  </div>
</div>

