<div>
  <p *ngIf="!gameState"><em>Loading...</em></p>

  <div *ngIf="gameState?.gameOver">
    <app-game-end [gameEndInfo]="gameState?.gameEndInfo"></app-game-end>
  </div>

  <div *ngIf="gameState">
    <div class="player-top-left">
      <app-player [player]="gameState.boardState.players[0]" [isLoading$]="playerLoadingObs[0]"></app-player>
    </div>
    <div class="player-top-right">
      <app-player [player]="gameState.boardState.players[1]" [isLoading$]="playerLoadingObs[1]"></app-player>
    </div>

    <div class="vertical-center board-left">
      <app-board [boardState]="gameState.boardState"></app-board>
    </div>

    <div class="vertical-center board-right">
      <button type="button" class="btn btn-primary game-btn" (click)="processTurn()" [disabled]="isGameRunning">Start Game</button>
      <button type="button" class="btn btn-danger game-btn" (click)="abandonGame()">Abandon Game</button>
    </div>

    <div class="player-bottom-left">
      <app-player [player]="gameState.boardState.players[2]" [isLoading$]="playerLoadingObs[2]"></app-player>
    </div>
    <div class="player-bottom-right">
      <app-player [player]="gameState.boardState.players[3]" [isLoading$]="playerLoadingObs[3]"></app-player>
    </div>
  </div>
</div>

