<button class="btn btn-primary add-btn" (click)="abandonGame()">Abandon Game</button>
<div class="vertical-flex">
  <p *ngIf="!gameState"><em>Loading...</em></p>

  <div *ngIf="gameState?.gameOver">
    <app-game-end [gameEndInfo]="gameState?.gameEndInfo"></app-game-end>
  </div>

  <div *ngIf="gameState" class="container-fluid vertical-flex">
    <div class="row">
      <div class="col">
        <app-player [player]="gameState.boardState.players[0]" [isLoading$]="playerLoadingObs[0]"></app-player>
      </div>
      <div class="col">
        <app-player [player]="gameState.boardState.players[1]" [isLoading$]="playerLoadingObs[1]"></app-player>
      </div>
    </div>
    <div class="row" style="flex:1">
      <app-board [boardState]="gameState.boardState"></app-board>
      <button (click)="processAITurn()" type="button">START GAME</button>
    </div>
    <div class="row">
      <div class="col">
        <app-player [player]="gameState.boardState.players[2]" [isLoading$]="playerLoadingObs[2]"></app-player>
      </div>
      <div class="col">
        <app-player [player]="gameState.boardState.players[3]" [isLoading$]="playerLoadingObs[3]"></app-player>
      </div>
    </div>
  </div>
</div>

