<div style="width:400px; height:200px; background-color:salmon">
  <div>
    <span class="font-weight-bold">Available colonists:</span> {{ boardState.availableColonists?.length }}
  </div>

  <div>
    <span class="font-weight-bold">Discard temp storage:</span> {{ boardState.discardTempStorage?.length }}
  </div>

  <div>
    <span class="font-weight-bold">Deck:</span> {{ boardState.deck?.length }}
  </div>

  <div>
    <span class="font-weight-bold">Player turn:</span> {{ boardState.playerTurn }}
  </div>

  <div>
    <span class="font-weight-bold">Game phase:</span> {{ boardState.gamePhase }}
  </div>
</div>
