.module-red {
  border: 4px dotted red;
  border-radius: 25px;
}

.module-green {
  border: 4px solid darkgreen;
  border-radius: 25px;
}

.module-blue {
  border: 4px dashed dodgerblue;
  border-radius: 25px;
}

.module-white {
  border: 4px double darkgrey;
  border-radius: 25px;
}

.module-none {
  border: 2px dashed grey;
}

.module-hidden {
  border: 4px solid black;
  border-radius: 25px;
}

.module {
  height: 90%;
  width: 100%;
  text-align: center;
  font-size: 22px
}

.module-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
