.module-red {
    background-color: darkred;
}

.module-green {
    background-color: darkgreen;
}

.module-blue {
    background-color: dodgerblue;
}

.module-white {
    background-color: whitesmoke;
}
