<div *ngIf="!module || !hideInformation" style="position:relative;height:100%;width:100%">
  <div class="module vertical-center" [ngClass]="getClassByColor(module?.type)">
    <div class="module-cost">
      <div>{{ module?.buildCost }}</div>
    </div>
    <div class="module-cost">
      <div>{{ module?.victoryValue }}</div>
    </div>
  </div>
</div>
<div *ngIf="module && hideInformation" style="position:relative;height:100%;width:100%">
  <div class="module vertical-center module-hidden">
    <div class="module-cost">
      <div>?</div>
    </div>
    <div class="module-cost">
      <div>?</div>
    </div>
  </div>
</div>
